JWT_SECRET=your_jwt_secret_here
FONNTE_TOKEN=your_fonnte_api_token_here
DATABASE_URL="postgresql://<username>:<password>@localhost:5432/<dbname>"
IRIV_API_KEY=
IRIV_SERVER=
CLOUD_URL=
AIVEN_DB_HOST=mysql-34ad2e16-jasonjaj8-639f.e.aivencloud.com
AIVEN_DB_PORT=27548
AIVEN_DB_USER=avnadmin
AIVEN_DB_PASSWORD=AVNS_jJKTL6KP1YZz0SYUKgT