MONGO_URI=mongodb+srv://<username>:<password>@<cluster>.mongodb.net/?appName=<appname>
JWT_SECRET=your_jwt_secret_here
MODBUS_PORT=/dev/ttyACM0
FONNTE_TOKEN=your_fonnte_api_token_here

DATABASE_URL="postgresql://<username>:<password>@localhost:5432/<dbname>"
